.vscode/**
.github/**
.vscode-test/**
.dev/**
.kilo/**

dist/**
src/**
node_modules/**

out/**/*.map
out/**/*.d.ts
out/**/*.d.ts.map

.nvmrc
.gitignore
.oxlintrc.json
.oxfmtrc.json
*.vsix
AGENTS.md
tsconfig.json
vscode.proposed.languageModelThinkingPart.d.ts
package-lock.json
.DS_Store

.env*
!.env.example
_helpers/**
